.dashboard-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f8fafc;
    position: relative;
}

.dashboard-sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
}

.dashboard-map-container {
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%
}

.dashboard-map-container .leaflet-container {
    height: 100%;
    width: 100%;
}
